.serviceFor {
    display: flex;
    flex-direction: column;
    
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f7f7f7;
   

    .wrapper {
       
        .title {
            font-weight: 700;
            color: #252525;
            font-size: 48px;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .line{
            width: 80px;
            height: 2px;
            background-color: #ff6a18;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        .cardWrapper {
            display: flex;
            flex-wrap: wrap;
          
            justify-content: space-between;
            max-width: 1140px;
            margin: 0 auto;
            
            @media (max-width: 600px) {
                
                flex-direction: column;
                align-items: center;
            }
        }
    }


}