.Hamburger {
    width: 32px;
    height: 32px;
    position: fixed;
    right: 15px;
    top: 15px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 120;
    user-select: none;
    cursor: pointer;

    @media (min-width: 767px) {display: none;}

    .burger1 {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        transform: rotate(45deg) translateY(-3px) translateX(2px);
        
    }
    .burger1cross {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        
      
    }
    .burger2 {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 100%;
        transition: all 0.3s ease-out;
        opacity: 0;
    }
    .burger2cross {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        
    }
    .burger3 {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        transform: rotate(-45deg);
        
    }
    .burger3cross {
        width: 32px;
        user-select: none;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        
     
    }
}