.header {
    background-color: #293036;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    

    @media(max-width: 767px) {
        display: none;
    }

}

.headerMobile {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #293036;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 101;
    position: fixed;

    .loginButton {
        @media(max-width: 767px) {
            margin-bottom: 40px;
        }
    }
}

