.swiperItem {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .imageWrapper {
        border-radius: 50%;
        border: 5px solid #fff;
        width: 80px;
        height: 80px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .swiperImg {
            width: 100%;
            height: auto;
            user-select: none;
            pointer-events: none;
        }
    }

}